# Ignore VSCode settings
.vscode/

# Ignore virtual environments
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# macOS
.DS_Store

# SQLite DB (if you don't want to push it)
*.db

# Ignoring sensitive files
chaewon_login/auth/keys/
chaewon_login/auth/enc/
.env

# Ignoring user configs
chaewon_login/ui/configs/*.json

# Temporary for now
pyproject.toml
build/
*.lock