# Ignore VSCode settings
.vscode/

# Ignore virtual environments
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# macOS
.DS_Store

# SQLite DB (if you don't want to push it)
*.db

# Ignoring sensitive files
app/auth/keys/
app/auth/enc/
.env

# Ignoring user configs
app/ui/configs/*.json
app/storage/

# Temporary for now
pyproject.toml
build/
*.lock