# Ignore VSCode settings
.vscode/

# Ignore virtual environments
venv/

# Byte-compiled / cache files
__pycache__/
*.py[cod]

# macOS
.DS_Store

# SQLite DB (if you don't want to push it)
*.db

# Ignoring sensitive files
chaewon_login/auth/keys/
chaewon_login/auth/enc/
.env

# Ignore log files
*.log       
MONGO_URI=mongodb://localhost:27017
GOOGLE_MAPS_API_KEY=AIzaSyDLkc2YBWbOeo9v1wxf2lJyZBp6vivDgj0
SECRET_KEY=31a5a66fda54b8e8470e7962abecc1ff6e861b7d27b04cf595e27d37b2a22a63

# Ignoring user configs
*.json