# UI Framework
flet==0.28.3

# Flet-addons
flet_audio>=0.1.0

# API
fastapi==0.116.1

# Encryption
cryptography==45.0.5 # Used for connection strings
passlib==1.7.4
bcrypt>=4.0.0 # Used for password hashing

# Graphs
matplotlib==3.10.3
numpy==2.3.2

# Coding Utilities
pydantic==2.11.7
dotenv>=0.9.9
requests==2.32.4

# Desktop-only Frameworks
pygame==2.6.1 # Used for audio

# MongoDB driver
pymongo==4.13.2

# use `py -m pip list | findstr {package}` for easy search